<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <!--<basicHttpBinding>
        <binding name="Default">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
        --><!--指定transfermode,对消息进行缓冲处理还是流式处理--><!--
        --><!--https://msdn.microsoft.com/zh-cn/library/system.servicemodel.transfermode(v=vs.90).aspx--><!--
        <binding name="UnsecureBuffered" transferMode="Buffered"/>
        <binding name="UnsecureStreamed" transferMode="Streamed"/>
        <binding name="UnsecureStreamedResponse" transferMode="StreamedResponse"/>
        <binding name="UnsecureStreamedRequest" transferMode="StreamedRequest"/>
      </basicHttpBinding>-->
      <wsHttpBinding>
        <binding name ="safe">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="IISHost.HelloWorld">
        <endpoint address="safe" binding="wsHttpBinding" bindingConfiguration="safe"
          contract="IISHost.IHelloWorld">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>       
        <!--<endpoint address="Buffered" binding="basicHttpBinding" bindingConfiguration="UnsecureBuffered"
          contract="IISHost.IHelloWorld" />
        <endpoint address="Streamed" binding="basicHttpBinding" bindingConfiguration="UnsecureStreamed"
          contract="IISHost.IHelloWorld" />
        <endpoint address="StreamedRequest" binding="basicHttpBinding"
          bindingConfiguration="UnsecureStreamedRequest" contract="IISHost.IHelloWorld" />
        <endpoint address="StreamedResponse" binding="basicHttpBinding"
          bindingConfiguration="UnsecureStreamedResponse" contract="IISHost.IHelloWorld" />-->
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="IISHost.Common.AuthorizationPolicy, IISHost"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="IISHost.Common.MyCustomValidator, IISHost"></userNameAuthentication>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
