<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="DuplexStreamingService.DuplexService">
        <endpoint address="net.tcp://127.0.0.1:9999/DuplexService" binding="netTcpBinding" contract="DuplexStreamingService.IDuplexService"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>