<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBroadcastorService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://v-zhidu01.fareast.corp.microsoft.com/IISHost/BroadcastorService/BroadcastorService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroadcastorService"
                contract="BroadcastorService.IBroadcastorService" name="NetTcpBinding_IBroadcastorService">
                <identity>
                    <servicePrincipalName value="host/v-zhidu01.fareast.corp.microsoft.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>