<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_IHelloWorldService">
                <security mode="TransportCredentialOnly">
                    <transport clientCredentialType="Basic" />
                </security>
            </binding>
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://localhost:8090/SelfHostService/HelloWorldSerivce"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorldService"
            contract="HelloWorldService.IHelloWorldService" name="BasicHttpBinding_IHelloWorldService" />
    </client>
  </system.serviceModel>
</configuration>