<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="IISHost.RestService.RestService" behaviorConfiguration="RESTBehavior">
        <endpoint binding="webHttpBinding" contract="IISHost.RestService.IRestService" behaviorConfiguration="ESEndPointBehavior"/>
      </service>
    </services>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="https"/>
    </protocolMapping>
    <behaviors>
       <serviceBehaviors>
          <behavior name="RESTBehavior">
               <serviceMetadata httpGetEnabled="true"/>
               <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ESEndPointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
    </system.serviceModel>
  <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
