<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add relativeAddress="Duplex.svc" service="DuplexStreamingService.DuplexService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpGetEnabledBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netHttpBinding>
        <binding name="Mybinding" maxReceivedMessageSize="67108864" transferMode="Streamed">
          <webSocketSettings transportUsage="Always"/>
        </binding>
      </netHttpBinding>
    </bindings>
    <services>
      <service lockAllAttributesExcept="HttpGetEnabledBehavior" name="DuplexStreamingService.DuplexService">
        <endpoint address="net.tcp://127.0.0.1:9999/DuplexService" binding="netTcpBinding" bindingConfiguration="Mybinding"
 contract="DuplexStreamingService.IDuplexService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>